*{
    margin: 0;
    padding: 0;
}

#textCSS{

    color: red;
    letter-spacing: 2px;
    word-spacing: 4px;
    /* direction: ltr;
    direction: rtl; */
    /* text-indent: 50px; */
    text-align: left;
    text-align: right;
    text-align: center;
    text-transform: lowercase;
    text-transform: uppercase;






}