
*{
    margin: 0;
    padding: 0;
}
.backImg{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    /* background-image: url('GGSIpu.png'); */
    background-image: url('me.jpg');

    /* background-repeat: no-repeat;
    background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */

   /* background-size: 100% 100%; */     /*  css3 */
   background-attachment: fixed;




}

/* for making paralax page */
.backImg1{
    width: 100%;
    height: 100vh;
    background-color: aqua;
    /* background-image: url('GGSIpu.png'); */
    background-image: url('GGSIpu.png');

    /* background-repeat: no-repeat;
    background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */

   /* background-size: 100% 100%; */     /*  css3 */
   background-attachment: fixed;




}