*{
    margin: 0;
    padding: 0;
}

.BoxModel{

    width: 400px;
    height: 200px;
    background-color: red;
}

input{
    padding-left: 20px;
    padding-top: 20px;
    padding: 5px 5px 5px 5px ; /*top right bottom left or simply 5px */
     padding: 5px;
    margin-top: 5px;
    margin: 10px; /*for all sides*/

    /* revise all by commenting one by one to understand */
    
}
